<h2>Panel administratora</h2>
<div class="tab-panel">
    <tabset #staticTabs class="user-tabset">
        <tab heading='Zarządzanie użytkownikami' *appHasRole='["Admin"]'>
            <div class="containter">
                <app-user-managment></app-user-managment>
            </div>
        </tab>
        <tab heading='Rejestracja użytkowników' *appHasRole='["Admin"]'>
            <div class="containter">
                <app-register (cancelRegister)="selectTab(0)"></app-register>
            </div>
        </tab>
    </tabset>
</div>