.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    // padding: 7px 10px;
    border-radius: 15px;
    font-size: 25px;
    text-align: center;
}

.icon-trash {
    cursor: pointer;
}