<form #addForm='ngForm' (ngSubmit)="send()" autocomplete="off" [formGroup]="hfFormGroup">
    <h2 class="text-center text-primary" *ngIf="!editMode">Dodaj nową placówkę medyczną</h2>
    <h2 class="text-center text-primary" *ngIf="editMode">Edytuj placówkę medyczną</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="name" formControlName="name" placeholder="Nazwa">
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control" name="city" formControlName="city" placeholder="Miasto">
    </div>

    <ng-container formArrayName="departments">
        <h3>Oddziały</h3>
        <ng-container *ngFor="let department of departments.controls; let i = index">
            <div class="form-inline" >
                <div class="form-group mb-2">
                    <input [formControlName]="i" type="text" class="form-control" name="depatrment-name" placeholder="Nazwa oddziału">
                </div>
                <i class="icon-trash bi bi-trash mb-2" (click)="deleteDepartment(i)"></i>
            </div>
        </ng-container>
        <button type="button" class="btn btn-success btn-circle btn-md" (click)="addDepartment()"><i class="bi bi-plus"></i></button>
    </ng-container>


    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit" *ngIf="!editMode">Utwórz</button>
        <button class="btn btn-success mr-2" type="submit" *ngIf="editMode">Aktualizuj</button>
        <button class="btn btn-secondary mr-2" (click)="cancel()" type="button">Anuluj</button>
    </div>
</form>