<form #addForm='ngForm' (ngSubmit)="send()" autocomplete="off" [formGroup]="hfFormGroup">
    <h2 class="text-center text-primary">Add new Health facility</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name">
    </div>
    
    <div class="form-group">
        <input type="text" class="form-control" name="city" formControlName="city" placeholder="City">
    </div>

    <ng-container formArrayName="departments">
        <h3>Departments</h3>
        <ng-container *ngFor="let department of departments.controls; let i = index">
            <div class="form-inline" >
                <div class="form-group mb-2">
                    <input [formControlName]="i" type="text" class="form-control" name="depatrment-name" placeholder="Department name">
                </div>
                <i class="icon-trash bi bi-trash mb-2" (click)="deleteDepartment(i)"></i>
            </div>
        </ng-container>
        <button type="button" class="btn btn-success btn-circle btn-md" (click)="addDepartment()"><i class="bi bi-plus"></i></button>
    </ng-container>


    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit" *ngIf="!editMode">Create</button>
        <button class="btn btn-success mr-2" type="submit" *ngIf="editMode">Update</button>
        <button class="btn btn-secondary mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>