<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">User registration</h2>
    <hr>
    <div class="form-group">
        <input
            [class.is-invalid]='registerForm.get("username")?.errors && registerForm.get("username")?.touched'
            type="text" class="form-control" formControlName="username" placeholder="Username">
        <div class="invalid-feedback">Please enter a username</div>
    </div>
    
    <div class="form-group">
        <input 
            [class.is-invalid]='registerForm.get("password")?.errors && registerForm.get("password")?.touched'
            type="password" class="form-control" formControlName="password"  placeholder="Password">
        <div *ngIf="registerForm.get('password')?.hasError('required')" class="invalid-feedback">Please enter a password</div>
        <div *ngIf="registerForm.get('password')?.hasError('minlength')" class="invalid-feedback">Password must be least 4 characters</div>
    </div>

    <div class="form-group">
        <input
            [class.is-invalid]='registerForm.get("confirmPassword")?.errors && registerForm.get("confirmPassword")?.touched'
            type="password" class="form-control" formControlName="confirmPassword"  placeholder="Repeat password">
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('required')" class="invalid-feedback">Please enter a confirm password</div>
        <div *ngIf="registerForm.get('confirmPassword')?.hasError('isMatching')" class="invalid-feedback">Confirm password must match password</div>
    </div>

    <div class="form-group">
        <input 
            [class.is-invalid]='registerForm.get("firstName")?.errors && registerForm.get("firstName")?.touched'
            type="text" class="form-control" formControlName="firstName" placeholder="First name">
        <div *ngIf="registerForm.get('firstName')?.hasError('required')" class="invalid-feedback">Please enter a first name</div>
    </div>

    <div class="form-group">
        <input 
            [class.is-invalid]='registerForm.get("lastName")?.errors && registerForm.get("lastName")?.touched'
            type="text" class="form-control" formControlName="lastName" placeholder="Last name">
        <div *ngIf="registerForm.get('lastName')?.hasError('required')" class="invalid-feedback">Please enter a last name</div>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" formControlName="profession" placeholder="Profession">
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-secondary mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>