<div class="container mt-5">
    <div class="card" *ngIf="!editMode">
      <div class="card-header patient-card-header">
        <h4>{{patientData.firstName}} {{patientData.lastName}}, {{patientData.pesel}}</h4>
        <button type="button" class="btn btn-primary btn-circle mr-2" (click)="editToggle()">
          <i class="bi bi-pen"></i>
        </button>
      </div>
    
      <div class="card-body">
        <div class="row">
            <div class="col-4"> Last name: {{patientData.lastName}} <hr> </div>
            <div class="col-4"> First name: {{patientData.firstName}} </div>
          </div>
        <div class="row">
          <div class="col-4"> PESEL: {{patientData.pesel}} </div>
          <div class="col-8"> Sex: {{sex[patientData.sex]}} <hr> </div>
        </div>
        <div class="row">
          <div class="col"> Age: {{patientData.age}} </div>
          <div class="col"> Birth: {{patientData.dateOfBirth.toDateString()}} </div>
          <div class="col"> City of Birth: {{patientData.placeOfBirth}} <hr> </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="editMode" class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <app-patient-add (cancelRegister)="cancelEditMode($event)" [pateintEdit]="patientData"></app-patient-add>
            </div>
        </div>
    </div>
</div>
