<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink='/'>Hospitium Adiutor</a>

    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async" >

        <li class="nav-item dropdown" routerLinkActive='active' dropdown>
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            Pacjenci
          </a>
          <div class="dropdown-menu mt-2" *dropdownMenu>
            <a class="dropdown-item" routerLink='/patient/list' routerLinkActive='active'>Lista</a>
            <a class="dropdown-item" routerLink='/patient/search' routerLinkActive='active'>Szukaj</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink='/patient/add' routerLinkActive='active'>Zarejestruj</a>
          </div>
        </li>

        <li class="nav-item" dropdown>
          <a class="nav-link" routerLink='/health-facility' routerLinkActive='active'>
            Szpitale
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink='/documentation/type/list' routerLinkActive='active'>Dokumentacja</a>
        </li>

        <li class="nav-item" *appHasRole='["Admin"]'>
          <a class="nav-link" routerLink='/admin' routerLinkActive='active'>Admin</a>
        </li>
        
      </ng-container>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink='/errors' routerLinkActive='active'>Errors</a>
      </li> -->
    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle><i class="bi bi-person-fill"></i> {{user.firstName | titlecase}} {{user.lastName | titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item">Profil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Wyloguj</a>
      </div>
    </div>

    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control mr-sm-3" 
        type="text" 
        placeholder="Username">
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control mr-sm-3" 
        type="password" 
        placeholder="Password">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>
