.btn-circle.btn-md {
    // width: 50px;
    height: 50px;
    border-radius: 15px;
    // font-size: 25px;
    text-align: center;
}

.cell{
    background-color: #F3F3F8;
    margin-bottom: 3%;
    border-radius: 1em;
}

.cell-header{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
}

.cell-content{
    padding-left: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
  
.cell-div-action{
    padding-right: 10px;
}
