<form #addForm='ngForm' (ngSubmit)="onSubmit()" autocomplete="off" [formGroup]="patientFormGroup">
    <h2 class="text-center text-primary" *ngIf="!editMode">Rejestracja nowego pacjenta</h2>
    <h2 class="text-center text-primary" *ngIf="editMode">Edycja pacjenta {{pateintEdit?.firstName}} {{pateintEdit?.lastName}}</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="firstName" placeholder="Imię pacjenta">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="lastName" placeholder="Nazwisko pacjenta">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="pesel" placeholder="PESEL" 
            [class.is-invalid]='patientFormGroup.get("pesel")?.errors && patientFormGroup.get("pesel")?.touched'>
        <div *ngIf="patientFormGroup.get('pesel')?.hasError('required')" class="invalid-feedback">Wproszę wprowadzić PESEL</div>
        <div *ngIf="patientFormGroup.get('pesel')?.hasError('pattern')" class="invalid-feedback">PESEL musi posiadać 11 cyfr</div>
    </div>
    <div class="form-group">
        <select class="form-control" formControlName="sex">
            <option>Mężczyzna</option>
            <option>Kobieta</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="placeOfBirth" placeholder="Miejsce urodzenia">
    </div>
    <div class="form-group">
        <app-select-date [startDate]="this.pateintEdit?.dateOfBirth" #dateOfBirth></app-select-date>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit" *ngIf="!editMode">Zarejestruj</button>
        <button class="btn btn-success mr-2" type="submit" *ngIf="editMode">Aktualizuj</button>
        <button class="btn btn-secondary mr-2" (click)="cancel()" type="button">Anuluj</button>
    </div>
</form>